{
    "printWidth": 120,
    "tabWidth": 2,
    "semi": false,
    "quotes": false,
    "quoteProps": "as-needed",
    "jsxSingleQuote": false,
    "bracketSpacing": true,
    "bracketSameLine": true,
    "trailingComma": "none"
}